.name {
  font-size: 3rem;
  font-weight: bold;
  color: #00B0FF; /* Azul eléctrico para el nombre */
  text-align: right;
  white-space: nowrap;
  border-right: 2px solid #ffffff;
  animation: blink 0.7s steps(2, start) infinite;
}

/* About Me */
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  position: relative;
  margin: 0 10rem;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.description {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #E0E0E0;
  max-width: 50%;
  padding: 2rem;
  background-color: #2C3E50;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
}

.download-container {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-btn {
  background-color: #006eff;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: background-color 0.3s;
}

.download-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
  
  /* Animación de cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 768px) {
  .presentation {
    padding-top: 5rem;
    flex-direction: column;
    margin: 0 ;
    height: auto;
  }

  .name {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #ffffff;
    animation: blink 0.7s steps(2, start) infinite;
  }

  .description {
    position: static;
    max-width: 80%;
    font-size: 1.3rem;
    padding: 1rem;
    box-shadow: none;
    text-align: left;
    background-color: #2C3E50;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .download-container {
    position: static;
    margin: 1rem;
    transform: none;
  }

}

@media (max-width: 480px) {
  .presentation {
    padding-top: 5rem;
    margin: 0 1rem;
    height: auto;
  }

  .name {
    font-size: 1.8rem;
    font-weight: bold;
    border-right: 1px solid #ffffff;
    animation: blink 0.7s steps(2, start) infinite;
  }

  .description {
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 0.8rem;
    background-color: #2C3E50;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .download-btn {
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
  }
}