/* Contenedor del botón */
.download-container {
    text-align: center;
    margin: 40px 0;
  }

  .download-btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .download-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }

  /* About Me */
  .presentation {
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .name {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    border-right: 2px solid #333;
    display: inline-block;
    animation: blink 0.7s steps(2, start) infinite;
  }
  
  .description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  .description {
      margin-top: 1rem;
      font-size: 1.3rem;
      line-height: 1.8;
      text-align: justify;
      color: #444;
      max-width: 60%;
      padding: 10px 20px;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Animación de cursor */
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

@media (max-width: 768px) {
    .name {
        font-size: 2rem;
        margin-top: 50px;
      }
    
      .description-container{
        width: auto;
      }
    
      .description {
        max-width: 90%;
        font-size: 1.3rem;
        padding: 15px;
      }
    
      .download-btn{
        font-size: 20px;
        padding: 15px 25px;
      }
}

@media (max-width: 480px) {
    .name {
        font-size: 1.8rem;
    }

    .description {
        font-size: 1rem;
        line-height: 1.6;
    }

    .download-btn{
        font-size: 20px;
        padding: 15px 25px;
      }
}