footer {
  text-align: center;
  background: #1C1C1C;
  color: #fff;
  padding: 2rem;
}

.link-git{
  font-size: 1.5rem;
  font-weight: bold;
  color: #00B0FF;
  text-decoration: none;
  }

.link-git:hover {
  color: #FFEB3B;
}

.footer-text a:hover{
  color: #1E88E5;
}

.footer-text {
  font-size: 1.2rem;
  color: #E0E0E0;
}
  
.footer-text a {
  color: #00B0FF;
  text-decoration: none;
}

.footer-text a:hover {
  color: #007bff;
}

.contact h1 {
  color: #00B0FF;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
  
.socialMedia ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  margin: 0;
}
  
.socialMedia a {
  color: #fff;
  text-decoration: none;
}
  
.socialMedia a:hover {
  color: #00bcd4;
}

.socialMedia-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .contact h1 {
    font-size: 2rem;
  }
    
  .socialMedia-icon {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 480px) {
  .socialMedia ul {
    gap: 1rem;
  }
    
  .socialMedia-icon {
    width: 40px;
    height: 40px;
  }
}