 /* Technologies */
 .technologies {
  padding: 4rem 21rem;
  text-align: center;
  background-color: #1C1C1C;
}

.technologies h1 {
  font-size: 2.8rem;
  margin-bottom: 5.5rem;
  color: #00B0FF;
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.tech-item {
  text-align: center;
  width: 140px;
  padding: 1.5rem;
  background-color: #2C3E50;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.tech-item:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.tech-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 1.2rem;
}

.tech-name {
  font-weight: bold;
}

.tech-item p {
  font-size: 1.1rem;
  color: #E0E0E0;
  margin: 0;
}

@media (max-width: 768px) {
  .technologies {
    padding: 2rem 2rem;
  }
    
  .technologies h1 {
    font-size: 2rem;
  }
    
  .tech-item {
    width: 120px;
    padding: 1rem;
  }
    
  .tech-icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .tech-item {
    width: 100px;
  }
    
  .tech-icon {
    width: 40px;
    height: 40px;
  }
}